

body{

    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-between;
 

    align-items: center;

    margin: 0;
    background-color: rgb(186, 179, 170);

    text-align: center;
}

a {
    text-decoration: none;
}

nav {
    /* position:sticky; */
    display: flex;
    align-items: center;
    justify-content:space-between;

    width: 100vw;
    height: 60px;

    background-color: rgba(0, 0, 0, 0.587);
 }

 .cl_utente{

    /* border: 1px solid black; */

    background-color: rgba(255, 0, 0, 0.605);
    border-radius: 10%;

    max-width: 100px;
    width: 33%;

    margin:10px;
    padding: 5px;

}

.cl_utente #id_nomeUtente{
    /* text-align: center; */

    margin: 2px;

    font-size: 1em;

    color: rgb(14, 69, 118);
    background-color: rgba(255, 255, 255, 0.822);
    
}

 /* 2o elemento */

#id_formBarra{
    width: 60%;

    padding: 5px;

    display: flex;
    
    align-items: center;
    justify-content: center;
    background-color:rgba(230, 11, 11, 0.801) ;

 }

 #id_formBarra #id_barra{

    width: 80%;

    font-size: 1.2em;
 }


 #id_formBarra #id_bnCerca input{

    width:100%;

    
    border-radius: 100%;
    
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgba(255, 255, 255, 0.888);
   
    font-size:1.2em ;
    
 }

 
  /* elemento */

  #id_listaPreferiti{
    /* width: auto; */
   display: flex;
   justify-content: center;
   align-items: center;

   margin: 2px;

   /* border: 1px solid rgba(0, 0, 0, 0.253); */

}
#id_listaPreferiti div{
    font-size: 2em;

    padding: 2px;


    border: 1px solid rgba(0, 0, 0, 0.253);
    border-radius: 100px;
    background-color: rgba(243, 243, 243, 0.579);

}

/*  elemento */

#id_impostazioni{

    margin: 2px;
    
    /* margin:5px 0px; */
     display: flex;
    justify-content: center;
    align-items: center;

    font-size: 1.5em;

    padding: 2px;
    border-radius: 100px;
    border: 1px solid rgba(0, 0, 0, 0.234);
     background-color: rgba(243, 243, 243, 0.964);
}

/* 2a sezione */

#id_sfondo{
    height: 80px;

    display: flex;
    justify-content:space-around;
    align-items: center;
    padding: 10px;

    background-color: rgba(240, 248, 255, 0.459);
}

/*  */

#id_sfondo .cl_carrelloTotale{

  display: flex;
  flex-direction: column;

  align-items: center;

  /* flex-grow: 1; */

  width: 100%;
  height: 100%;

  


}

#id_sfondo #id_soldiTotali{
    /* color: aliceblue; */
    width: 100%;
    height: 100%;

    font-size:2em;

    font-weight: bolder;
    
}


.cl_carrello{

    width: 100px;

    display: flex;
    justify-content: space-around;
    align-items: center;

    font-size: 1em;
    text-align: center;

    border: 1px solid black;
    margin: 5px;
    border: 3px solid rgba(0, 0, 0, 0.292);
    border-radius: 25%;
    background-color: rgba(125, 122, 122, 0.242);

 }

 .cl_carrelloNum{
    /* height: 30px;
    width: 30px; */
    color: aliceblue;
    background-color: rgba(228, 9, 9, 0.533);
    border-radius: 50%;

    /* font-size: xx-large; */

    padding: 3%;

    
 }

.cl_carrello #id_carrello{
    /* height: 45%; */
    margin-bottom: 5%;
    font-size: 1.5em;
    
 }

 /*  */
 .cl_formSpedizione{
    visibility: hidden;
 }

 #id_sfondo .cl_formSpedizione input{

  font-size: 1.5em;

  color: rgba(255, 255, 255, 0.76);
  background-color:rgba(0, 0, 0, 0.611) ;
  border: 3px solid rgba(236, 23, 23, 0.725);

  border-radius: 10px;

 }

 #id_sfondo .cl_formSpedizione input:hover{

    cursor: pointer;

 }



/* 3a sezione */

.cl_xSezione{
    display: none;
    /* display: block; */

}

.cl_blocchi{
    margin: 5px;
    padding: 10px;
    border-radius: 10%;

    background-color: rgba(0, 0, 0, 0.429);
}


.cl_prodotto{
    display: flex;

    /* border: 2px solid black; */

    justify-content: center;

    margin: 10px;

}

.cl_prodotto img{
    max-width: 300px;
    max-height: 200px; 

    width: 100%;

    border: 2px solid rgb(255, 0, 0);

    border-radius: 10%;
}

.cl_prodotto .cl_descrizione{
   

    width: fit-content;

    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: end;

    border: 2px solid rgba(94, 91, 91, 0.769);
    border-radius: 10%;
    margin: 0px 3px;

    background-color: rgba(207, 9, 9, 0.769);

   

}

.cl_titoloProdotto{
    font-size: x-large;
    background-color: rgba(240, 248, 255, 0.808);
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 20%;
}

.cl_brandProdotto{
    background-color: rgba(0, 0, 0, 0.39);
    color: aliceblue;
    margin-left: 5px;
    margin-right: 5px;
}






.cl_operazioniProdotto{
    display: flex;
    flex-grow: 1;
    align-items:  end;
    justify-content: space-around;

    margin: 0px;


    /* border:1px solid black; */

  

}


.cl_cestino{
    margin: 0px 10px;
    padding: 5px;
    border-radius: 100%;
    background-color: rgb(0, 0, 0);
}

.cl_cuore{
    margin: 0px 10px;
    padding: 5px;
    border-radius: 100%;

    background-color: rgb(0, 0, 0);
}
.cl_prezzo{
    margin: 0px 10px;
    padding: 5px;
    border-radius: 100%;

    font-size:xx-large ;

    background-color: rgb(0, 0, 0);
    color: aliceblue;
}







/* footer */

footer{
    width: 100%;
    height: 100px;

    margin-top: 20px;

    background-color: rgb(0, 0, 0);

    color: aliceblue;

    z-index: 1;
   
}

/*  */

 /*  elemento tendina */
 #id_menu{
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    flex-grow: 1;


    /* border: 1px solid black; */
 }
    /* 6o elemento */

    #id_menuTendina{
       
        margin: 10px;

        position: relative;

        display: none;
    }

    #id_bnTendina{
        background-color: rgba(230, 8, 8, 0.79);
        border:1px solid rgba(240, 248, 255, 0.692);
        border-radius: 100%;
        padding: 1px;

    }


    #id_tendina{
        position: absolute;
        right: 0px;
        background-color: rgba(240, 248, 255, 0.365);

        border-radius: 10%;

        /* display: none; */
    }


    .cl_impostazioni,.cl_carrelloTendina,.cl_listaPreferiti{
        /* margin: 1px; */
        margin: 1px;

        font-size: large;
    }



   /*  media */
   @media (max-width: 500px) {
    #id_menu {
    display: none;
    }
    #id_menuTendina{
        display: block;
    }
    #id_tendina{
        display: block;
    }

    #id_sfondo #id_soldiTotali, #id_soldiFissi{

        font-size:5vw;
        
    }
   }

   #id_bnTendina:hover{
    cursor: pointer;
   }


   #id_soldiFissi{
    font-size: 2em;

    padding: 4px;

    border: 2px solid rgba(182, 23, 23, 0.844);
    border-radius: 20px;

    color: rgba(228, 232, 236, 0.407);
    background-color: rgba(54, 53, 53, 0.212);

    position: fixed;
    bottom: 3px;
    right: 3px;

   }
  

   /* -------- */
   .cl_cestino:hover,.cl_cuore:hover{

    cursor:pointer;
     }